// primary color
$color--primary : #252524;  //main black
$color--secondary : #fff;  //main white
$color--third  : #ce6e2c; //main orange
// secondary color
$color--fourth  : #505050;  //secondary gay
$color--fifth : #c0442f;  //secondary orange
$color--sixth : #cdcdcd;  //neutar grey
$color--seventh : #e5e5e5; //light grey


/* ======================== MediaQ */
  $break-xxxl: 1740px;
  $break-xxl: 1440px;
  $break-xl: 1200px;
  $break-lg: 992px;
  $break-md: 768px;
  $break-sm: 576px;
  $break-xs: 400px;
  $break-xxs: 200px;

  // breakpoints map
  $breakpoints: (
    xxxl: 1740px,
    xxl: 1440px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
    xs: 400px
  ) !default;

/* ============================== Timing */
  $time-primary: .3s;
  $time-secondary: .6s;
  $time-third: .9s;

/* ============================== Measure */
  $measure : 1rem/2;

/* ============================== Fonts */
  $font-primary : 'Charlevoix Pro', sans-serif;


/* ============================== Border radius "include"  */
@mixin border-radius{
  border-radius: 2px;
}

/* ============================== Border buttons "include"  */
@mixin border-buttons{
  border: 1px solid $color--third;
  background-color: transparent;
}
