/* ============================== general rules */
* {
  outline:0;
  margin: 0px;
  box-sizing: border-box;
}
html, body {
    height: 100%;
    cursor: url('../theme/img/arrow.svg'), default;
}
html { background: black }
body {
    font-size: 16px; // 1rem = 16px
    font-family: $font-primary;
    overflow-x: hidden;
    &::after{
      content:'';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color--seventh;
      border-radius: 50px;
      z-index:-1;
      @media (max-width: $break-lg) {
        border-radius: 35px;
      }
    }
}
.main{
  min-height: calc(100vh - 139px);
}
img {
  max-width: 100%;
}
a {
  display: unset;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
ol{
  margin-top: 1rem !important;
}
address{
  font-style: normal;
}
