.b--footer{
  background-color: $color--primary; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, $color--primary, $color--seventh); /* Standard syntax (must be last) */
  padding: $measure*8 0px $measure*5;
  border-radius: 0px 0px 50px 50px;
  color: $color--seventh;
  &__social{
    display: flex;
    &__icon{
      display: block;
      width: 35px;
      height: 35px;
      padding: 5px;
    }
  }
}
