.b--nav{
  //display: none;
  &__list-group{
    display: flex;
    list-style: none!important;
    text-decoration: none!important;
    li{
      padding: 0px 7px;
      a{
        text-decoration: none;
      }
    }
  }
}

body {
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  position: absolute;
  right: 64px;
  top: 20px;
  padding: 26px 11px;
  z-index: 300;
  cursor: pointer;
  user-select: none;
  @media (max-width: $break-lg) {
    right: 35px;
  }
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: $color--primary;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: $color--primary;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: $color--third;
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: $color--sixth;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 8px;
      a {
        color: $color--primary;
        text-decoration: none;
        font-size: 1.6em;
        &:hover {
          color: $color--third;
        }
      }
      ul{
        height: auto;
        padding-top: 4px;
        li{
          padding: 0px;
          a{
            color: $color--fourth;
            text-decoration: none;
            font-size: 1.3em;
            &:hover {
              color: $color--third;
            }
          }
        }
      }
    }
  }
}
