.b--nav{

  &__list-group{
    display: flex;
    list-style: none!important;
    text-decoration: none!important;
    li{
      padding: 0px 7px;
      a{
        text-decoration: none;
      }
    }
  }
}
