.b--logo-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__item{
    padding: $measure*3;
    &__img{
      max-height: $measure*20;
    }
  }
}
