  .b--logo-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &__item{
    padding: $measure*3;
    width: 25%;
    text-align: center;
    &__img{
      max-height: $measure*20;
    }
  }
}
