.b--page-home{
  &__back-items{
    height: 100vh;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    @media (max-width: $break-lg) {
      border-radius: 35px;
    }
    &__img{
      position: relative;
      min-height: 100vh;
      width: 100%;
      z-index: 0;
    }
  }
  &__front-items{
    height: calc(100vh - 139px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__wrapper{
      position: relative;
      padding:  $measure*12 $measure*8;
      height: 60vh;
      margin-top: 20vh;
      color: $color--seventh;
      background-color: rgba($color--primary, 0.6);
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $break-lg) {
        border-radius: 35px;
      }
      &:before, &:after, &>:first-child:before, &>:first-child:after {
          position:absolute; content:' ';
          width:80px;
          height: 80px;
          border-color:$color--seventh;
          border-style:solid;
          @media (max-width: $break-lg) {
            width: 50px;
            height:50px;
          }
      }
      &:before {
        top:0;
        left:0;
        border-width: 5px 0 0 5px;
        border-top-left-radius: 50px;
        @media (max-width: $break-lg) {
          border-width: 3px 0 0 3px;
          border-top-left-radius: 35px;
        }
      }
      &:after {
        top:0;
        right:0;
        border-width: 5px 5px 0 0;
        border-top-right-radius: 50px;
        @media (max-width: $break-lg) {
          border-width: 3px 3px 0 0;
          border-top-right-radius: 35px;
        }
      }
      &>:first-child:before {
        bottom:0;
        right:0;
        border-width: 0 5px 5px 0;
        border-bottom-right-radius: 50px;
        @media (max-width: $break-lg) {
          border-width: 0 3px 3px 0;
          border-bottom-right-radius: 35px;
        }
      }
      &>:first-child:after {
        bottom:0;
        left:0;
        border-width: 0 0 5px 5px;
        border-bottom-left-radius: 35px;
        @media (max-width: $break-lg) {
          border-width: 0 0 3px 3px;
          border-bottom-left-radius: 35px;
        }
      }

    }
  }
}
